@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Nova+Mono&display=swap");

/* ::-webkit-scrollbar {
  display: none;
} */

body {
  font-family: "Nova Mono", "Lato", monospace;
  /* font-family: "Lato", sans-serif; */
}

li {
  margin-left: 1.25rem;
}
